<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.custom.view">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.view.UnlockViewActivity"/>
        <activity android:name=".activity.view.StarLevelViewActivity"/>
        <activity android:name=".activity.view.TimerViewActivity"/>
        <activity android:name=".activity.view.FlowRadioGroupActivity"/>
        <activity android:name=".activity.view.PuzzleViewActivity"/>
        <activity android:name=".activity.view.AutoScrollTextViewActivity"/>
        <activity android:name=".activity.view.WaveViewActivity"/>
        <activity android:name=".activity.view.BadgeViewActivity"/>
        <activity android:name=".activity.view.CircleImageViewActivity"/>
        <activity android:name=".activity.view.CountTimeProgressViewActivity"/>
        <activity android:name=".activity.view.BlurringViewActivity"/>
        <activity android:name=".activity.view.FlipperViewActivity"/>
        <activity android:name=".activity.view.RadarViewActivity"/>
        <activity android:name=".activity.view.StepViewActivity"/>

    </application>

</manifest>